h1{
    color: red;
    text-align: center;
    font-size: x-large;
}

h3{
    color: blue;
    font-size: larger;
}

.contenu{
    background-color: gray;
}

.rose{
    background-color: pink;
}

strong{
    color: rgb(204, 235, 52);
    font-weight: normal;
}

em{
    font-style: normal;
    color: rgb(235), 143, 52);
    font-size: larger;
    text-decoration: underline;
}

#titre{
    color: green;
    text-decoration: underline;
    text-align: right;
}
}